.mainWrapper{
  max-width: 1860px;
  margin: 0 auto; 
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  box-shadow: $shadow-mid;
  background-color: $white-color;
  gap: 2rem;

  @media(max-width:768px){
    margin-top:20px;
  }
}

.left {
  color: $blue-text;
  .breadcrumb{
    font-size: 10px;
  }

  h1{
    font-size: 18px;
  }

  .description{
     margin: 16px 0;
    font-size: 14px;
    padding-bottom: 30px;
  }
}

.right {
  width: 100%;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;

  .rightImage {
    width: 100%;
    height: auto;
    border-radius: 12px;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 1rem;
}

.tags span {
  border: 2px solid #cad6e6;
  border-radius: 20px;
  padding: 4px 12px;
  color: #cad6e6;
  font-size: 12px;
  cursor: pointer;
  font-weight: 700;

  &:hover{
    border-color: $blue-hover;
    color:$blue-hover;
  }
}


@media(max-width:768px){
  .mainWrapper{
    flex-direction: column;
  }

  .right {
    max-width: 70%;
    margin: 0 auto;
  }
}

@media(max-width:480px){
  .right {
    max-width: 100%;
    margin: 0 auto;
  }
}