.mainContainer {
  margin: 85px 0;

  @media (max-width: 768px) {
    margin: 65px 0;
  }
}

.container {
  max-width: 1860px;
  margin: 0 auto;
  background: $white-color;
  padding: 2rem;
  box-shadow: $shadow-mid;

  h5 {
    font-size: 12px;
    font-weight: var(--text-weight);
    color: $blue-text;
    margin-bottom: 6px;
  }

  h2 {
    font-size: 20px;
    font-weight: bolder;
    color: $blue-text;

    @media(max-width:1440){
      font-size: 18px;
    }
  }

  h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $blue-text;

    margin-top: 1.5rem;

    @media(max-width:1440px){
      font-size:14px;
    }
  }

  p {
    color: $blue-text;
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    padding: 20px 0px;

     @media(max-width:1440px){
      font-size:14px;
    }

    a {
      color: #054a91;
      text-decoration: underline;
      margin: 0 0.2rem;

      &:hover {
        color: $blue-hover;
      }
    }
  }

  ul {
    list-style-type: disc;
    padding-left: 1.2rem;
    margin-bottom: 1.5rem;
    margin-left: 25px;

    @media (max-width: 768px) {
      margin-left: 15px;
    }

    @media (max-width: 480px) {
      margin-left: 0px;
    }

    li {
      font-size: 16px;
      margin-bottom: 0.4rem;
      
      @media(max-width:1440px){
        font-size: 14px;
      }

      &::marker {
        color: $blue-text;
      }

      a {
        color: #054a91;
        text-decoration: underline;

        &:hover {
          color: $blue-hover;
        }
      }
    }
  }
}
