
.drawer {
  position: relative;
  width: 700px;
  height: 100vh;
  background-color: #83ffe7;
  padding: 2rem 1.5rem;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.125);
  overflow-x: visible; 

 
  @media (max-width: 1024px) {
    width: 600px;
  }

  @media (max-width: 768px) {
    width: 90vw; // More fluid
    padding: 1.5rem 1rem;
  }

  @media (max-width: 480px) {
    width: 90vw;
    padding: 1rem;
  }

 
}


.nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:2rem;

  @media (max-width: 480px) {
    gap: 1rem;
    // flex-direction: column;
  }
}

.closeBtn {
  position: absolute;
  top: 33px;
  right: -30px; 
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: $white-color;
  color:#5d6b84;
  font-weight: bold;
  cursor: pointer;
  z-index: 1001;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow:2px 6px 10px rgba(0, 0, 0, 0.35);

  &:hover {
    background-color: #f0f0f0;
  }

  @media(max-width:768px){
    display: none;
  }
}


.searchContainer {
  display: flex;
  align-items: center;
  background: $white-color;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  max-width: 600px;
  width: 95%;

  @media (max-width: 768px) {
    max-width: 100% !important;
    padding: 0 0.5rem;
  }

  @media (max-width: 480px) {
    padding: 4px 6px;
    gap: 4px;
  }
 

}

.iconLeft {
  height:100%;
  display: flex;
  align-items: center;
  padding:0 10px;
  object-fit: content;
  border-start-end-radius:10px;
  flex-shrink: 0;

  @media (max-width: 480px) {
    padding:0px;
  }

  .mobileCloseIcon {
    display: none;
    cursor: pointer;
    padding: 6px;
    color: $blue-text;
  }

   @media (max-width: 768px) {
    .mobileCloseIcon {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1px;
    }
  }

  img {
    width: 32px;
    height: 32px;
   }

    @media (max-width: 480px) {
    .mobileCloseIcon {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      width: 22px;
      height: 22px;
    }
  }
}

.searchInput {
  flex: 1;
  border-left: 2px solid #f0f5fc;
  padding:16px 20px;
  outline: none;
  font-size: 16px;
  color: $blue-text;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;

  &::placeholder {
    color: #bac9de;
    font-weight: 600;
    overflow: hidden;
  }

  @media (max-width: 480px) {
    font-size: 12px;
    padding: 6px;

    &::placeholder {
      font-size: 12px;
    }
  }
}

.iconRight {
  color: #bac9de;
  font-size: 22px;
  margin-left: 20px;
  padding-right:18px;
  font-weight: bolder;

  
  @media (max-width: 480px) {
    font-size: 12px;
    margin-left: 1px;
    padding-left: 4px;
    padding-right: 4px;
  }
}


// .filterButtons {
//   display: flex;
//   gap: 1rem;
//   overflow-x: auto;
//   padding:0.6rem 0rem 0.6rem 0rem;
//   max-width: 80vw;
//   width: 100%;

//   &::-webkit-scrollbar {
//     display: none; 
//   }

//   button {
//     background: $white-color;
//     box-shadow:3px 3px 4px 2px rgba(0, 0, 0, 0.2);
//     color: $blue-text;
//     font-weight: bold;
//     padding: 0.6rem 1.2rem;
//     border-radius: 999px;
//     font-size:14px;
//     cursor: pointer;
//     white-space: nowrap;

//     &:hover{
//        background-color: #009cff;
//        color:$white-color;
//     }

//     @media(max-width:480px){
//       padding: .2rem 0.8rem;
//       font-size: 12px;
//     }
//   }
// }


.filterButtons {
  display: flex;
  flex-wrap: wrap;              
  gap: 1rem;
  padding: 0.6rem 0;
  width: 100%;
  max-width: 100%;

  button {
    background: $white-color;
    box-shadow: 3px 3px 4px 2px rgba(0, 0, 0, 0.2);
    color: $blue-text;
    font-weight: bold;
    padding: 0.6rem 1.2rem;
    border-radius: 999px;
    font-size: 14px;
    cursor: pointer;
   

    &:hover {
      background-color: #009cff;
      color: $white-color;
    }

    @media (max-width: 480px) {
      padding: 0.2rem 0.8rem;
      font-size: 12px;
    }
  }
}


.section {
  padding-top: 0.2rem;
}

.gameList {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.card {
  width: 95px;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);

  &:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.65);
  }

  @media(max-width:480px){
    width:65px;
  }

  img,
  video {
    width: 100%;
    height: 90px;
    display: block;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    object-fit: cover;

     @media(max-width:768px){
      height:80px;
    }

    @media(max-width:480px){
      height:60px;
    }
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
  }

  &:hover video {
    opacity: 1;
    z-index: 1;
  }

  &:hover img {
    opacity: 0;
    
  }
}


.card p {
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  color: $white-color;
  font-weight: 600;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2; 
  pointer-events: none;

   @media(max-width:768px){
    font-size: 12px;
  }
   
  @media(max-width:480px){
    font-size: 10px;
    bottom:4px;
  }
}

.card:hover p {
  opacity: 1;
}

.heading{ 
  color: $blue-text;
  font-weight:700;
  font-size: 22px;
  padding:0.6rem 0rem;

  @media(max-width:480px){
    font-size: 18px;
  }
}

.headingTwo{ 
  color: $blue-text;
  font-weight:700;
  font-size: 22px;
  padding-top:1.5rem;
  padding-bottom:0.6rem;

  @media(max-width:480px){
    font-size: 18px;
  }
}

